body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222831;
}

.root {
  padding: 50px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgb(211, 211, 211);
  max-height: 85%;
  margin: 100px 0;
}